@import "./base.css";

body{
  font-family: var(--mainFont);
  background-color: #eee;
}
.header{
  background-color: #fff;
  padding: 15px 0;
}
 /* logo */
.header .logo{
  display: flex;
  align-items: center;
  gap: 2.6px;
  flex-wrap: wrap;
}
.header .logo img{
  width: 14.52px;
  height: 13.98px;
}
/* menu */
.menu{
  display: none;
}
/* nav */
.nav ul{
  display: flex;
  gap: 16.47px;
  flex-wrap: wrap;  /* دائما بستخدمها عشان موضوع responsive */
}
.nav ul li a{
  color: #101928;
}
.active{
  font-weight: bold;
}
/* authenticatin (login , register) */
.auth{
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.auth a{
  font-family: var(--subFont);
  border: 2px solid var(--mainColor);
  font-weight: bold;
  border-radius: 4.12px;
}
.auth .login{
  padding: 5.35px 26.5px;
}
.auth .register{
  background-color: var(--mainColor);
  color: white;
  padding: 5.35px 19.51px;
}

/* Responsive */
@media screen and (max-width: 992px){
  .nav,
  .auth{
    display: none;
  }
  .menu{
    display: block;
    order: 1;
  }
}
 @media screen and (max-width: 576px){
    .container{
      width: calc(100% - 50px);
    }
    .header .logo img{
      width: 20px;
    }
} 

/* footer */
.footer{
  background-color: #393E46;
  color: white;
  padding: 50px 0;
}
.footer a{
  color: white;
}
.footer_start{
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex-wrap: wrap;
}
.footer_start .icons img{
  border: 1px solid white;
  padding: 5px;
  margin-right: 13px;
}
.footer_end{
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footer nav{
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}
.footer_end .end_footer_item{
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1200px){
  .footer_start{
    width: 100%;
  }
  .footer_end{
    width: 100%;
  }
  .footer .row{
    gap: 10px;
  }
}
@media screen and (max-width: 768px){
  .end_footer_item{
    width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 576px){
  .end_footer_item{
    width: 100%;
  }
}