@import "./base.css";

body{
  font-family: var(--mainFont);
  background-color: #eee;
}
.header{
  background-color: #fff;
  padding: 15px 0;
}
 /* logo */
.header .logo{
  display: flex;
  align-items: center;
  gap: 2.6px;
  flex-wrap: wrap;
}
.header .logo img{
  width: 14.52px;
  height: 13.98px;
}
/* menu */
.menu{
  display: none;
}
/* nav */
.nav ul{
  display: flex;
  gap: 16.47px;
  flex-wrap: wrap;  /* دائما بستخدمها عشان موضوع responsive */
}
.nav ul li a{
  color: #101928;
}
.active{
  font-weight: bold;
}
/* authenticatin (login , register) */
.auth{
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.auth a{
  font-family: var(--subFont);
  border: 2px solid var(--mainColor);
  font-weight: bold;
  border-radius: 4.12px;
}
.auth .login{
  padding: 5.35px 26.5px;
}
.auth .register{
  background-color: var(--mainColor);
  color: white;
  padding: 5.35px 19.51px;
}

@media screen and (max-width: 992px){
  .nav,
  .auth{
    display: none;
  }
  .menu{
    display: block;
    order: 1;
  }
}
 @media screen and (max-width: 576px){
    .container{
      width: calc(100% - 50px);
    }
    .header .logo img{
      width: 20px;
    }
} 
/* coursessssss */
.courses{
  background-color: white;
  padding: 20px 0;
  
}
.courses .row{
  align-items: flex-start;
}
.course-cards{
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
}
.card-item{
  width: calc( ( 100% - 30px - 20px ) / 2 );
  box-shadow: 0px 7.437575340270996px 7.437575340270996px rgba(0, 0, 0, 0.05);
  padding-bottom: 15px;
}
.card-header{
  position: relative;
}
.card-header img{
  width: 100%;
  filter: brightness(70%);
  display: flex; /* لالغاء المسافة بين الصورة واخر div الموجود  فيه */
}
.card-header .info{
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left:0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.course-small-des{
  background-color: var(--mainColor);
  padding: 5px;
  margin-top: 15px;
}
.course-price{
  align-self: flex-end;
  margin-right: 8px;
  margin-bottom: 12px;
}
.card-body{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-body h2{
  font-size: 18px;
}
.card-body span{
  font-size: 13px;
  color: var(--mainColor);
}
.card-footer{
  width: fit-content;
  color: #969696;
  font-size: 12px;
  margin-left: 20px;
  display: flex;
  gap: 15px;
}
.available-courses{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.available-courses p{
  width: 400px;
  text-wrap: wrap;
}
.available-courses a{
  background-color: var(--mainColor);
  padding: 10px;
  color: white;
  border-radius: 5px;
}
@media screen and (max-width: 1200px){
  .courses .row{
    gap: 30px; 
  }
}
@media screen and (max-width: 576px){
  .card-item{
    width: 100%; 
  }
  .available-courses p{
    width: 200px;
  }
}
/* Testimonials */
.testimonials{
  background-color: #fff;
  padding: 50px 0;
}
.testimonials h2{
  text-align: center;
  margin-bottom: 30px;
}
.testimonials .row{
    gap: 40px;  
}
.testimonial{
  box-sizing: border-box; /* لا تجعل padding و border يزيد من width*/
  width: calc( (100% - 40px) / 2 ) ; 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  box-shadow: 0px 8.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.1);
}
.user-info {
  display: flex;
  gap: 25px;
}
.user-data{
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}
.user-info img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.rating svg{
  width: 20px;
  
}
@media screen and (max-width: 768px){
  .testimonial{
    width: 100%;
  }
}
/* footer */
.footer{
  background-color: #393E46;
  color: white;
  padding: 50px 0;
}
.footer a{
  color: white;
}
.footer_start{
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex-wrap: wrap;
}
.footer_start .icons img{
  border: 1px solid white;
  padding: 5px;
  margin-right: 13px;
}
.footer_end{
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footer nav{
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}
.footer_end .end_footer_item{
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1200px){
  .footer_start{
    width: 100%;
  }
  .footer_end{
    width: 100%;
  }
  .footer .row{
    gap: 10px;
  }
}
@media screen and (max-width: 768px){
  .end_footer_item{
    width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 576px){
  .end_footer_item{
    width: 100%;
  }
}